<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>sTrade</title>
  
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="jsfunc.js"></script>    

	<link rel="stylesheet" href="style.css">
    
  </head>
  
  <body>	  
	
	<div class="container">
		
		<!--for banner -->
		<div class="row well well-sm">
		  <div class="col-md-7">
			<a href="/"><img src="./img_icons/st.bmp" class="img-rounded" alt="stock trade" width="50" height="50"></a>
			<span class="header">&nbspStock Trade System</span>
		  </div>
