<!--for quote-->
		<div class="row center">
			<form id="form1" class="form-inline">
			  Type the Symbol of a company to get stock quote: <br>
			  If the price is not shown, it means the symbol is invalid. <br>
			  Check <a href="http://www.nasdaq.com/screening/company-list.aspx">here</a> for a complete list of company symbols.
			  <br><br>
			  <input id="symbol" type="text" class="form-control input-sm" placeholder="Symbol">
			  <button type="submit" class="btn btn-success btn-sm">Get quote</button>
			  <br><br>
			  Price($): <strong><span id="price"></span></strong>
			  <br>
			  High($): <strong><span id="high"></span></strong>
			  <br>
			  Low($): <strong><span id="low"></span></strong>
			  <br>
			  Latest update time: <strong><span id="qtime"></span></strong>
			  <br><br> (Data source: Yahoo Finance)
			</form>	
		</div>
		
	</div> <!--container-->
